button {
  border: none;
  display: flex;
  border-radius: 9999px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding: 0 1rem;
}

.primary {
  background-color: blueviolet;
  color: white;
}

.secondary {
  background-color: transparent;
  border: 2px solid blueviolet;
  color: blueviolet;
}

.icon {
  justify-content: space-between;
}
