button {
    border: none;
    border-radius: 9999px;
    font-weight: bold;
    cursor: pointer;
    padding: 0 1rem;
}

.primary {
    background-color: blueviolet;
    color: white;
}

.secondary {
    background-color: transparent;
    border: 2px solid blueviolet;
    color: blueviolet;
}